#simran-text{
    font-family: 'Shadows into Light', cursive;
    color: black;
    font-size: 50px;
    margin-bottom: 20px;
}

#header{
    font-family: 'Raleway',sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 600;
    
}

#error{
    visibility: hidden;
    text-align: center;

    font-family: 'Raleway',sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 600;
    transform: translateY(-450px);
    padding: 20px;
}

#hidden{
    visibility: hidden;
    text-align: center;

    font-family: 'Raleway',sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 600;
    transform: translateY(-250px);
    padding: 20px;
}


.total-flex{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("background.jpg");
    overflow: hidden;
    
}

.main-content{
    width: 450px;
    height: 500px;
    background-color: #f5eceb;
    filter: drop-shadow(1px 1px 10px black);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.top-content{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: auto;
    width: auto;
    line-height: 0;
    margin: 0;
    padding: 0;
    border-bottom: 1px black solid;

}

.middle-content{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: inherit;

    text-align: center;

    font-family: 'Raleway',sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 600;
  

}


.bottom-content{
    display: flex;
    height: auto;
    width: inherit;

    justify-content: center;
    

}


button{
    font-family: 'Raleway',sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 600;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 50px;
    background-color:#FF7F7F;
    color: white;
    letter-spacing: 1px;
    border: none;
    filter: drop-shadow(1px 1px 5px black);
    
}

button:hover{
    transform: translateY(-2px);
    margin-left: 2px;

}

button:active{
    filter: none;
}



body {    
    margin: 0 !important;
    padding: 0 !important;
}


