<script src="admin.js"></script>
<link rel="stylesheet" href="admin.css"></link>

<html>
<head>
    <meta charset="utf-8">
    <title>Appointment Cancellation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>

<body>
    <div class="total-background">
        <div class="top-flex">
            
        </div>
        <div class="bottom-flex">
           <input type="text">
           <button onclick="submitTime()"
        </div>
    </div>
</body>
</html>