<script src="delApp.js"></script>
<link rel="stylesheet" href="delApp.css">

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Appointment Cancellation</title>
</head>

<body>
    <div class="total-flex"></div>
    <div class="main-body"></div>
   
</body>
</html>